
<div class="new--layout" style="padding-top: 96px;">
    <div class="section relative clearfix green-bg ">
        <div class="">

            <div class="container">
                <div class="row clearfix">
                    <h2 class="h1">@WACLIM.Resources.Language.ConnectWithUs</h2>
                    <div class="cases clearfix">
                        <h3 class="h3">@WACLIM.Resources.Language.NeverMissAThing</h3>
                        <div class="col-1-2">
                            <div class="sign-up">
                                <h4 class="h4">@WACLIM.Resources.Language.SignUpForOurNewsletter</h4>
                                <!--mailing form -->
                                <form action="" method="post" id="mailing_form_footer" name="mailing_form" class="mailing_form" novalidate="novalidate">
                                    <input type="text" name="email" id="email_footer" placeholder="Sign up now" class="required email nieuwsbrief">
                                    <button id="edit-ajax-submit" name="ajax_submit" value="Send message" type="submit">Send</button>
                                    <div class="radios clearfix">
                                        <input type="checkbox" name="newsletter" value="monthly_newsletter" checked="">@WACLIM.Resources.Language.ENewsletter<br>
                                        <input type="checkbox" name="newsletter" value="update_magazine">@WACLIM.Resources.Language.UpdateMagazine
                                    </div>
                                </form>
                                <!-- end mailing form -->

                            </div>
                        </div>
                        <div class="col-1-2">
                            <div class="social">
                                <h3 class="h4">@WACLIM.Resources.Language.FollowOurActivities</h3>
                                <ul>
                                    <li>
                                        <a href="#" class="linkedin" target="_blank"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="facebook" target="_blank"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter" target="_blank"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="youtube" target="_blank"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="instagram" target="_blank"></a>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="background-image">
            <div class="full-image"></div>
        </div>
    </div>
</div>
