<!-- start page header -->
<header id="header-main">
    <div class="block">
        <a class="nav-btn" id="nav-open-btn" href="#nav-main-container">
            <span aria-hidden="true" data-icon="☰"></span>
            <span class="visually-hidden">Menu</span>
        </a>

        <a href="/search" id="search">
            <img src="~/Assets/IHE/image/search.png" />
        </a>

    </div>
</header>
<!-- end page header -->

<!-- start main navigation -->
<nav id="nav-main-container">
    <!-- begin wrapper -->
    <div class="wrapper">
        <a href="#" id="logo">
            <img src="~/Assets/IHE/image/logo.png"  height="55"/>
        </a>
        <ul id="nav-main">
            <li class="">
                <a href="@Url.Action("gioithieu", "home")"  class="non-subs">@WACLIM.Resources.Language.Introduction</a>
            </li>
            <li class="">
                <a href="@Url.Action("index", "home")" class="non-subs">@WACLIM.Resources.Language.News_Events</a>
            </li>
            <li>
                <a href="@Url.Action("thanhvien","home")"  class="non-subs">@WACLIM.Resources.Language.People</a>
				@*<div class="nav-sub-container-wrapper">
                    <div class="nav-sub-container">
                        <div class="wrapper">
                            <ul class="nav-sub">
                                <li><a href="#">Đào Nguyên Khôi</a></li>
                                <li><a href="#">Phạm Thị Thảo Nhi</a></li>
                                <li><a href="#">Nguyễn Trọng Quân</a></li>
                                <li><a href="#">Phạm Thị Lợi</a></li>
                                <li><a href="#">Trương Thảo Sâm</a></li>
                                <li><a href="#">Nguyễn Thị Diễm Thúy</a></li>
                                <li><a href="#">Đổ Quan Lĩnh</a></li>
                            </ul>
                        </div>
                    </div>
                </div>*@
            </li>
            <li class="">
                <a href="#">@WACLIM.Resources.Language.Research</a>
				<div class="nav-sub-container-wrapper">
                    <div class="nav-sub-container">
                        <div class="wrapper">
                            <ul class="nav-sub">
                                <li><a href="#">@WACLIM.Resources.Language.ResearchThemes</a></li>
								<li><a href="#">@WACLIM.Resources.Language.Projects</a></li>
                                <li><a href="#">@WACLIM.Resources.Language.ScienceResearch</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"  class="non-subs">@WACLIM.Resources.Language.Support</a>
            </li>
			<li class="">
				<a href="#">@WACLIM.Resources.Language.Education</a>
				<div class="nav-sub-container-wrapper">
					<div class="nav-sub-container">
						<div class="wrapper">
							<ul class="nav-sub">
								<li><a href="#">@WACLIM.Resources.Language.Teaching</a></li>
								<li><a href="#">@WACLIM.Resources.Language.Training</a></li>
								<li><a href="#">@WACLIM.Resources.Language.DeTaiKhoaLuan</a></li>
								<li><a href="#">@WACLIM.Resources.Language.DeTaiSauDaiHoc</a></li>
							</ul>
						</div>
					</div>
				</div>
			</li>
        </ul>
    </div>    <!-- end wrapper -->
    <!-- start micro navigation -->
    <nav id="nav-micro-container">
        <div class="wrapper">
            <div class="search-nav-container">
                <div id="micro-search-form" class="hide-for-mobile">
                    <form class="search-form" id="search-form" method="get" action="/search/node" target="_self" novalidate="novalidate">
                        <input type="text" name="terms" placeholder="Search" size="25" value="" class="input-text">
                        <button type="submit" class="input-submit">@WACLIM.Resources.Language.Search</button>
                    </form>

                </div>
                <ul id="nav-micro">
                    <li><a href="/contact" title="">@WACLIM.Resources.Language.Contact</a></li>

                    <li><a href="/information-staff-and-students" class="member">@WACLIM.Resources.Language.Login</a></li>
                </ul>
                <div id="container-language" class="custom-select">
                    <form id="form-language" action="@Url.Action("ChangeLanguage", "Languages")">
                        <select id="select-language" name="culture">
                            @{
                                System.Globalization.CultureInfo currentCulture = System.Threading.Thread.CurrentThread.CurrentCulture;

                                if (currentCulture.Name == "en-US")
                                {
                                    <option class="language-en" value="en-US" selected="selected">@WACLIM.Resources.Language.English</option>
                                    <option class="language-vi" value="vi-VN">@WACLIM.Resources.Language.Vietnamese</option>
                                }
                                else
                                {
                                    <option class="language-en" value="en-US">@WACLIM.Resources.Language.English</option>
                                    <option class="language-vi" value="vi-VN" selected="selected">@WACLIM.Resources.Language.Vietnamese</option>
                                }
                            }
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </nav>    <!-- end micro navigation -->
</nav>
<!-- end main navigation -->
