
<!DOCTYPE html>
<html class="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/IHE")
    <link href="~/Assets/IHE/css/print.css" rel="stylesheet" type="text/css" media="print" />
    <script type="text/javascript">
        var _WEB_URL = location.origin + '/' + '@Url.Content("~/")';
        var VModule = {};
    </script>
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" crossorigin=\"anonymous\"></script>", "~/bundles/IHE")
</head>
<body class="html page-node page-node- page-node-338 new--frontpage">

    <div id="outer-wrap">
        <div id="inner-wrap">
            <section class="new--layout" style="padding-top: 96px;">

                @RenderPage("_Header.cshtml")


                @RenderBody()

            </section>

            @RenderPage("_Footer.cshtml")
        </div>
    </div>

    <script src="~/Assets/IHE/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

